.toast {
    position: fixed;
    top: 25px;
    right: 25px;
    background: #28a745;
    color: #fff;
    padding: 18px 25px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 8px 20px rgba(0,0,0,.3);

    opacity: 0;
    visibility: hidden;
    transform: translateX(120%);
    transition: all .4s ease;

    z-index: 99999;
}

.toast.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}